<div class="announcement" id="announcement__outer">
    <div>
    {% if site.settings.first.global.announcement_url.size > 0 %}
        <a href="{{ site.settings.first.global.announcement_url }}" target="_blank">
    {% endif %}
        <div id="announcement__loop">
            <div id="announcement__content">
                {{ site.settings.first.global.announcement_text }}&nbsp;
            </div>
        </div>
    {% if site.settings.first.global.announcement_url.size > 0 %}
        </a>
    {% endif %}
    </div>
</div>