{% assign settings = site.settings.first %}

<footer class="footer__outer dark">
    <div class="footer wrapper inner grid dark">
        <div class="footer__address col-3 col-md-12">
            <img class="footer__icon" src="{{ settings.global.icon_light }}"></img>
            <a href="{{ settings.global.address_url }}" target="_blank">
                <p>
                    {{ settings.global.address }}
                </p>
            </a>
        </div>
        {% if settings.nav.show_email %}
            <div class="footer__email col-9 row-lg-1-2 col-lg-8-5 col-md-12 row-md-1-2 row-sm-1">
                <h2>
                    {{ settings.nav.email_label }}
                </h2>
                <input placeholder="{{ settings.nav.email_placeholder }}">
                </input>
            </div>
        {% endif %}
        <div class="footer__section footer__hours col-3-1 col-lg-4 row-lg-1-2 col-md-12 row-md-1-3 row-sm-1">
            <h2>
                Hours
            </h2>
            <p class="footer__hours__day">
                {% for entry in settings.global.hours %}
                    {{ entry.day }}<br>
                {% endfor %}
            </p>
            <p class="footer__hours__time">
                {% for entry in settings.global.hours %}
                    {{ entry.hours }}<br>
                {% endfor %}
            </p>
        </div>
        {% for section in settings.nav.footer_sections %}
            <div class="footer__section col-3 {% if forloop.first %} col-lg-4-1{% else%} col-lg-4{% endif %} col-md-12">
                <h2>
                    {{ section.title }}
                </h2>
                <ul>
                    {% if forloop.first %}
                        {% if settings.global.show_pickup %}
                            <li>
                                {% include button.html text="Order Pickup" style = "dark" url = settings.global.pickup%}
                            </li>
                        {% endif %}
                        {% if settings.global.show_delivery %}
                            <li>
                                {% include button.html text="Order Delivery" style = "dark" url = settings.global.delivery%}
                            </li>
                        {% endif %}
                    {% endif %}
                    {% for button in section.links %}
                        {% assign text = button.label %}
                        {% assign url = button.url %}
                        <li>
                            {% include button.html text=text style = "dark" url=url%}
                        </li>
                    {% endfor  %}
                </ul>
            </div>
        {% endfor %}
        <p class="footer__copyright col-6">
            © Sammataro, 2023
        </p>
        <p class="footer__credits col-6">
            <a href="/credits">
                Site Credits    
            </a>
        </p>
    </div>
</footer>
