<section class="nav wrapper">
    <div class="nav__logo">
        <img class="nav__logo__icon" src="{{ site.settings.first.global.logo }}"></img>
        <img class="nav__logo__full" src="{{ site.settings.first.global.icon }}"></img>
    </div>
    <div class="nav__buttons">
        {% if site.settings.first.global.show_pickup %}
            {% include button.html text = "Pickup" style = "light" url = site.settings.first.global.pickup %}
        {% endif %}
        {% if site.settings.first.global.show_delivery %}
            {% include button.html text = "Delivery" style = "light border" url = site.settings.first.global.delivery%}
        {% endif %}
    </div>
</section>
