.default__content {
  margin-top: $unit-md;
  margin-bottom: $unit-xxl;

  hr {
    margin: $unit-md 0;
  }

  p {
    margin: $unit-sm 0;
  }
}

.privacy__toggle__wrapper {
  display: flex;
  align-items: center;
  gap: $unit-xs;
  p:last-of-type {
    flex-grow: 1;
  }
}
