@import "colors";
@import "grid";
@import "mixins";
@import "type";
@import "units";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
  height: auto;
  z-index: 100;
}

// Wrapper
/////////////////////////////////////////////////////
.grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  transform: translateZ(0);

  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    position: fixed;
    background-image: url("../assets/graphics/noise.png");
    opacity: 0.75;
    pointer-events: none;
    -webkit-animation: noise 4s steps(2) infinite;
    animation: noise 4s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
}

// Wrapper
/////////////////////////////////////////////////////
.wrapper {
  width: 100%;
  padding: 0 $unit-lg;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: $black;
  &.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: $unit-sm;
    grid-row-gap: $unit-sm;
  }
  @include break-at("md") {
    padding: 0 $unit-md;
    &.grid {
      grid-column-gap: $unit-xs;
      grid-row-gap: $unit-xs;
    }
  }
  @include break-at("sm") {
    padding: 0 $unit-sm;
  }
}

.inner {
  padding-left: $unit-lg;
  padding-right: $unit-lg;
  @include break-at(md) {
    padding-left: $unit-md;
    padding-right: $unit-md;
  }
  @include break-at(sm) {
    padding-left: $unit-sm;
    padding-right: $unit-sm;
  }
}

.dark {
  background-color: $black;
  color: $white;
}

// Buttons
/////////////////////////////////////////////////////
.button {
  display: flex;
  align-items: center;
  padding: 0 $unit-sm;
  height: $unit-md;
  border: 0px;
  position: relative;
  white-space: nowrap;
  @include pointer;
  &.light {
    background-color: $white;
    color: $black;
    border-color: $black;
    &:active {
      background-color: $light-gray;
    }
  }
  &.dark {
    background-color: $black;
    color: $white;
    border-color: $black;
    &:active {
      background-color: $dark-gray;
    }
  }
  &.border {
    border: 1px solid;
  }
  &.check {
    width: $unit-sm;
    height: $unit-sm;
    padding: 0;
    &.selected {
      .button__strike {
        opacity: 1;
        width: 75%;
        min-width: 40px;
      }
    }
  }
  &__strike {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 0%;
    opacity: 0;
    @include transition(width, 0.1s, ease-out);
  }
  &:hover {
    .button__strike {
      opacity: 1;
      width: 75%;
      max-width: $unit-xl;
      min-width: $unit-md;
    }
  }
}

.external button:hover {
  cursor: ne-resize !important;
}

.toggle {
  width: $unit-md;
  border-radius: 100px;
  height: $unit-sm;
  background-color: $dark-gray;
  border: 1px solid $black;
  padding: 1px;
  @include transition(background-color, 0.15s, ease);
  &:hover {
    cursor: pointer;
  }
  &--circle {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    background-color: $white;
    @include transition(margin, 0.15s, ease);
  }
  &.on {
    background-color: #44963b;
    justify-content: flex-end;
    .toggle--circle {
      margin-left: 20px;
    }
  }
}

// Top Nav
/////////////////////////////////////////////////////
.nav {
  position: sticky;
  position: -webkit-sticky;
  top: -80px;
  z-index: 999;
  background-color: transparent;
  @include transition(all, 0.2s, ease);
  &.down {
    top: 0;
    background-color: $white;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  @include break-at(sm) {
    gap: $unit-xs;
    top: -60px;
    .nav__inner {
      height: 60px;
    }
  }
}
.nav__logo {
  height: $unit-sm;
}

.nav__buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: $unit-xs;
}

// Footer
/////////////////////////////////////////////////////
.footer__outer {
  width: 100%;
}
.footer {
  padding: $unit-lg;
  @include break-at(sm) {
    padding: $unit-md $unit-sm $unit-sm $unit-sm;
  }
  h2 {
    text-align: left;
  }
  &__address {
    display: flex;
    gap: $unit-sm;
    a:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
  &__icon {
    height: $unit-md;
    width: auto;
  }
  &__email {
    display: flex;
    align-items: center;
    gap: $unit-sm;
    h2 {
      white-space: nowrap;
    }
    input {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 $unit-sm;
      height: $unit-md;
      background-color: $black;
      color: $white;
      border: 1px solid $white;
      @include h3;
      @include transition(all, 0.1s, ease-out);
      &::placeholder {
        color: #696969;
      }
      &:hover {
        background-color: $dark-gray;
      }
      &:focus {
        background-color: $dark-gray;
      }
    }
    @include break-at(md) {
      margin: $unit-md 0 0 0;
      display: block;
    }
  }
  &__hours {
    p {
      display: inline-block;
    }
    &__day {
      margin-right: $unit-sm;
    }
  }
  &__section {
    margin-top: $unit-lg;
    ul {
      margin-left: -$unit-sm;
      li {
        width: fit-content;
      }
    }
    @include break-at(md) {
      margin-top: $unit-md;
    }
  }
  &__credits {
    text-align: right;
    a {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__copyright,
  &__credits {
    margin-top: $unit-xxl;
    @include break-at(md) {
      margin-top: $unit-lg;
    }
  }
}

// Cookie Bar
/////////////////////////////////////////////////////

#cookieBar {
  display: none;
  position: fixed;
  bottom: $unit-xxs;
  right: $unit-xxs;
  margin-left: $unit-xxs;
  z-index: 999;
}

.cookieBar__text {
  background-color: $black;
  color: $white;
  border-radius: $unit-xxs;
  padding: $unit-sm;
  font-size: $unit-xs;
  display: flex;
  align-items: center;
  gap: $unit-sm;
  p {
    @include p;
  }
  a {
    font: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#closeBar {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  @include pointer;
}

// Loader
/////////////////////////////////////////////////////
#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $black;
  @include transition(height, 0.3s, cubic-bezier(0.9, 0.1, 0.1, 0.9));
  &.hide {
    height: 0;
  }
}

// Announcement
/////////////////////////////////////////////////////
.announcement {
  display: flex;
  align-items: center;
  width: 100%;
  height: $unit-md;
  background-color: $black;
  color: $white;

  &#announcement__outer {
    overflow: hidden;
    div {
      display: inline-block;
    }
    #announcement__loop {
      white-space: nowrap;
      animation: loop-anim 20s linear infinite;
      @include h3;
    }
  }

  @keyframes loop-anim {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -50%;
    }
  }
}

// Animations
/////////////////////////////////////////////////////
.pop {
  @include transition(transform, 0.5s, cubic-bezier(0.9, 0.1, 0.1, 0.9));
}

.scramble span {
  white-space: pre;
  font: inherit;
  display: inline-block;
  z-index: 900;
  @include transition(transform, 0.6s, cubic-bezier(0.9, 0.1, 0.1, 0.9));
  transition-delay: 0;
}

.write {
  flex-direction: column;
  div {
    font: inherit;
    span {
      opacity: 1;
      white-space: pre;
      font: inherit;
      display: inline-block;
      @include transition(opacity, 0.09s, ease-out);
      &.hidden {
        opacity: 0;
      }
    }
  }
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
