@import "colors";
@import "grid";
@import "mixins";
@import "type";
@import "units";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
  height: auto;
}

// Wrapper
/////////////////////////////////////////////////////
.wrapper {
  width: 100%;
  padding: 0 $unit-lg;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: $black;
  &.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: $unit-sm;
    grid-row-gap: $unit-sm;
  }
  @include break-at("md") {
    padding: 0 $unit-md;
  }
  @include break-at("sm") {
    padding: 0 $unit-sm;
    &.grid {
      grid-column-gap: $unit-xs;
      grid-row-gap: $unit-xs;
    }
  }
}

.inner {
  padding-left: $unit-lg;
  padding-right: $unit-lg;
  @include break-at(md) {
    padding-left: $unit-md;
    padding-right: $unit-md;
  }
  @include break-at(sm) {
    padding-left: $unit-sm;
    padding-right: $unit-sm;
  }
}

.dark {
  background-color: $black;
  color: $white;
}

// Buttons
/////////////////////////////////////////////////////
.button {
  display: flex;
  align-items: center;
  padding: 0 $unit-sm;
  height: $unit-md;
  border: 0px;
  position: relative;
  white-space: nowrap;
  &.light {
    background-color: $white;
    color: $black;
    border-color: $black;
    &:active {
      background-color: $light-gray;
    }
  }
  &.dark {
    background-color: $black;
    color: $white;
    border-color: $black;
    &:active {
      background-color: $dark-gray;
    }
  }
  &.border {
    border: 1px solid;
  }
  &.check {
    width: $unit-sm;
    height: $unit-sm;
    padding: 0;
    &.selected {
      .button__strike {
        opacity: 1;
        width: 75%;
        min-width: 40px;
      }
    }
  }
  &__strike {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 0%;
    opacity: 0;
    @include transition(width, 0.1s, ease-out);
  }
  &:hover {
    .button__strike {
      opacity: 1;
      width: 75%;
      max-width: $unit-xl;
      min-width: $unit-md;
    }
  }
}

// Top Nav
/////////////////////////////////////////////////////
.nav {
  padding-top: $unit-md;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include break-at(sm) {
    padding-top: $unit-sm;
    gap: $unit-xs;
  }
}
.nav__logo {
  height: $unit-sm;
}

.nav__buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: $unit-xs;
}

// Footer
/////////////////////////////////////////////////////
.footer__outer {
  width: 100%;
}
.footer {
  padding: $unit-lg;
  h2 {
    text-align: left;
  }
  &__address {
    display: flex;
    gap: $unit-sm;
  }
  &__icon {
    height: $unit-md;
    width: auto;
  }
  &__email {
    display: flex;
    align-items: center;
    gap: $unit-sm;
    h2 {
      white-space: nowrap;
    }
    input {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 $unit-sm;
      height: $unit-md;
      background-color: $black;
      color: $white;
      border: 1px solid $white;
      @include h3;
      @include transition(all, 0.1s, ease-out);
      &::placeholder {
        color: #696969;
      }
      &:hover {
        background-color: $dark-gray;
      }
      &:focus {
        background-color: $dark-gray;
      }
    }
    @include break-at(md) {
      margin: $unit-md 0 0 0;
      display: block;
    }
  }
  &__hours {
    p {
      display: inline-block;
    }
    &__day {
      margin-right: $unit-sm;
    }
  }
  &__section {
    margin-top: $unit-lg;
    ul {
      margin-left: -$unit-sm;
    }
    @include break-at(md) {
      margin-top: $unit-md;
    }
  }
  &__credits {
    text-align: right;
  }
  &__copyright,
  &__credits {
    margin-top: $unit-xxl;
    @include break-at(md) {
      margin-top: $unit-lg;
    }
  }
}

// Cookie Bar
/////////////////////////////////////////////////////
.default__content {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#cookieBar {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin-left: 5px;
  z-index: 999;
}

.cookieBar__text {
  border-radius: 5px;
  background-color: #333333;
  padding: $unit-sm;
  font-size: $unit-xs;
  font-weight: 200;
  p {
    font-size: 12px;
    display: inline;
    float: left;
    margin-right: 5px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#closeBar {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  @include pointer;
}

// Animations
/////////////////////////////////////////////////////
.scramble span {
  white-space: pre;
  font: inherit;
  display: inline-block;
  z-index: 999;
  @include transition(transform, 0.5s, cubic-bezier(0.9, 0.1, 0.1, 0.9));
  transition-delay: 0;
}

.write {
  flex-direction: column;
  div {
    font: inherit;
    span {
      opacity: 1;
      white-space: pre;
      font: inherit;
      display: inline-block;
      @include transition(opacity, 0.05s, ease-out);
      &.hidden {
        opacity: 0;
      }
    }
  }
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
