// Breakpoints
/////////////////////////////////////////////////////
$breakpoints: (
  "xl": 1400px,
  "lg": 1100px,
  "md": 800px,
  "sm": 550px,
) !default;

@mixin break-at($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Grid system
////////////////////////////////////////////////////////////////////////////////
$column-count: 12;

@for $i from 1 through $column-count {
  .col-#{$i} {
    grid-column: span #{$i};
  }
}

@for $i from 1 through $column-count {
  @for $j from 1 through $column-count {
    .col-#{$i}-#{$j} {
      grid-column: #{$j} / span #{$i};
    }
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @include break-at($breakpoint) {
    @for $i from 1 through $column-count {
      @for $j from 1 through $column-count {
        .col-#{$breakpoint}-#{$i}-#{$j} {
          grid-column: #{$j} / span #{$i};
        }
      }
    }

    @for $i from 1 through $column-count {
      .col-#{$breakpoint}-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
}

$row-count: 6;

@for $i from 1 through $row-count {
  .row-#{$i} {
    grid-row: span #{$i};
  }
}

@for $i from 1 through $row-count {
  @for $j from 1 through $row-count {
    .row-#{$i}-#{$j} {
      grid-row: #{$j} / span #{$i};
    }
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @include break-at($breakpoint) {
    @for $i from 1 through $row-count {
      @for $j from 1 through $row-count {
        .row-#{$breakpoint}-#{$i}-#{$j} {
          grid-row: #{$j} / span #{$i};
        }
      }
    }

    @for $i from 1 through $row-count {
      .row-#{$breakpoint}-#{$i} {
        grid-row: span #{$i};
      }
    }
  }
}
