@import "colors";
@import "grid";
@import "mixins";
@import "type";
@import "units";

// Header
/////////////////////////////////////////////////////
.header {
  margin-top: $unit-md;
  @include break-at(sm) {
    margin-top: $unit-sm;
  }
  h1,
  h2,
  .header__final,
  .header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    @include break-at(sm) {
      letter-spacing: -2px;
    }
  }
  &__icon img {
    width: $unit-xl;
    height: auto;
    @include break-at(md) {
      width: $unit-lg;
    }
    @include break-at(sm) {
      width: $unit-md;
    }
  }
  &__final {
    flex-direction: column;
  }
  &__image__left {
    position: relative;
    img {
      position: sticky;
      top: $unit-sm;
      @include break-at(md) {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}

// About
/////////////////////////////////////////////////////
.about {
  margin: $unit-sm auto $unit-xxl auto;
  &__title {
    justify-content: unset !important;
  }
  &__callout {
    min-height: $unit-xl;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $unit-xxl;
    @include break-at(md) {
      margin-top: $unit-md;
    }
    @include break-at(sm) {
      margin-top: 0;
    }
  }
  &__col {
    img {
      margin-bottom: $unit-sm;
      @include break-at(sm) {
        margin-bottom: $unit-xs;
      }
    }
    &__center img:last-of-type {
      width: 50%;
      float: right;
      @include break-at(sm) {
        width: 100%;
      }
    }
  }
}

// Menus
/////////////////////////////////////////////////////
.menus__outer {
  width: 100%;
}

.menus {
  padding-top: $unit-xl;
  padding-bottom: $unit-xxl;
  &__title {
    text-align: center;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: $unit-md;
    row-gap: $unit-sm;
    border-top: 1px solid $white;
    padding-top: $unit-sm;
    margin-top: $unit-md;
    &__item {
      display: flex;
      align-items: center;
      .button {
        margin-right: $unit-xs;
      }
      &:hover {
        cursor: pointer;
        .button__strike {
          opacity: 1;
          width: 75%;
          max-width: $unit-xl;
          min-width: $unit-md;
        }
      }
    }
  }
}

.menu {
  @include transition(height, 0.2s, ease-out);
  &__item {
    padding-top: $unit-lg;
    &.hide {
      display: none;
    }
    &.show {
      display: block;
    }
    &__top {
      display: flex;
      justify-content: space-between;
    }
    &__description {
      margin-top: $unit-xxs;
    }
  }
  &__bottom {
    margin: $unit-lg auto 0 auto;
    &__open {
      display: block;
    }
    &__hide {
      display: none;
    }
  }
}

// Order
/////////////////////////////////////////////////////
.order {
  margin: $unit-xxl auto;
  &__buttons {
    margin-top: $unit-md;
    display: flex;
    flex-wrap: wrap;
    column-gap: $unit-sm;
    row-gap: $unit-xs;
  }
}
