@import "colors";
@import "grid";
@import "mixins";
@import "type";
@import "units";

// Header
/////////////////////////////////////////////////////
.header {
  margin-top: $unit-md;
  h1,
  h2,
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    white-space: nowrap;
  }
  &__icon {
    width: $unit-lg;
    height: auto;
  }
}

// About
/////////////////////////////////////////////////////
