@import "units";
@import "grid";
@import "mixins";

// Fonts
/////////////////////////////////////////////////////
@font-face {
  font-family: "Alte Haas Grotesk";
  font-weight: 700;
  src: url("/assets/fonts/alte_haas_grotesk_bold-webfont.eot");
  src: url("/assets/fonts/alte_haas_grotesk_bold-webfont.eot")
      format("embedded-opentype"),
    url("/assets/fonts/alte_haas_grotesk_bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/alte_haas_grotesk_bold-webfont.woff") format("woff"),
    url("/assets/fonts/alte_haas_grotesk_bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Alte Haas Grotesk";
  font-weight: 400;
  src: url("/assets/fonts/alte_haas_grotesk_regular-webfont.eot");
  src: url("/assets/fonts/alte_haas_grotesk_regular-webfont.eot")
      format("embedded-opentype"),
    url("/assets/fonts/alte_haas_grotesk_regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/alte_haas_grotesk_regular-webfont.woff") format("woff"),
    url("/assets/fonts/alte_haas_grotesk_regular-webfont.ttf")
      format("truetype");
}

@font-face {
  font-family: "Biro Script Plus";
  font-weight: 400;
  src: url("/assets/fonts/biro_script_plus_us-webfont.eot");
  src: url("/assets/fonts/biro_script_plus_us-webfont.eot")
      format("embedded-opentype"),
    url("/assets/fonts/biro_script_plus_us-webfont.woff2") format("woff2"),
    url("/assets/fonts/biro_script_plus_us-webfont.woff") format("woff"),
    url("/assets/fonts/biro_script_plus_us-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Gascogne Serial";
  font-weight: 300;
  src: url("/assets/fonts/gascogne_serial-light-webfont.eot");
  src: url("/assets/fonts/gascogne_serial-light-webfont.eot")
      format("embedded-opentype"),
    url("/assets/fonts/gascogne_serial-light-webfont.woff2") format("woff2"),
    url("/assets/fonts/gascogne_serial-light-webfont.woff") format("woff"),
    url("/assets/fonts/gascogne_serial-light-webfont.ttf") format("truetype");
}

// Base Type
/////////////////////////////////////////////////////
* {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
}

@mixin h1 {
  font-size: $unit-lg;
  font-family: "Alte Haas Grotesk", Helvetica, sans-serif;
  font-size: $unit-xxl;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: toRem(-4.8);
  text-transform: uppercase;
  @include break-at(lg) {
    font-size: toRem(100);
  }
  @include break-at(md) {
    font-size: toRem(65);
  }
  @include break-at(sm) {
    font-size: toRem(65);
  }
}

@mixin h2 {
  font-family: "Biro Script Plus", cursive;
  font-size: $unit-md;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  line-break: strict;
  text-align: center;
  @include break-at(sm) {
    font-size: $unit-sm;
  }
}

@mixin h3 {
  font-family: "Alte Haas Grotesk", Helvetica, sans-serif;
  font-size: toRem(16);
  line-height: $unit-sm;
  font-weight: 400;
  letter-spacing: toRem(0.8);
  text-transform: uppercase;
}

@mixin p {
  font-family: "Gascogne Serial", "Times New Roman", Times, serif;
  font-size: toRem(16);
  line-height: $unit-sm;
  font-weight: 300;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

p {
  @include p();
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.nowrap {
  white-space: nowrap;
}

// .resize {
//   @include transition(font-size, 0.1s, linear);
// }
