// Units
/////////////////////////////////////////////////////

$base-unit: 12;

html {
  font-size: $base-unit + px;
}

@function toRem($value) {
  $remValue: calc($value / $base-unit) + rem;
  @return $remValue;
}

$unit-xxs: toRem(8);
$unit-xs: toRem(10);
$unit-sm: toRem(20);
$unit-md: toRem(40);
$unit-lg: toRem(60);
$unit-xl: toRem(100);
$unit-xxl: toRem(160);
